<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageOS_AsyncEvents::integrations" title="Asynchronous Events" translate="title"
             module="MageOS_AsyncEvents"
             parent="Magento_Backend::stores" sortOrder="50" dependsOnModule="MageOS_AsyncEvents"
             resource="MageOS_AsyncEvents::async_events_view"/>

        <add id="MageOS_AsyncEvents::index" title="Subscribers" translate="title" module="MageOS_AsyncEvents"
             parent="MageOS_AsyncEvents::integrations" sortOrder="10" dependsOnModule="MageOS_AsyncEvents"
             action="async_events/events" resource="MageOS_AsyncEvents::async_events_view"/>

        <add id="MageOS_AsyncEvents::logs" title="Logs" translate="title" module="MageOS_AsyncEvents"
             parent="MageOS_AsyncEvents::integrations" sortOrder="10" dependsOnModule="MageOS_AsyncEvents"
             action="async_events/logs" resource="MageOS_AsyncEvents::async_events_logs"/>
    </menu>
</config>
